body{
margin:0;
font-family:system-ui, sans-serif;

background:linear-gradient(
180deg,
#020617,
#0f172a
);

color:white;

min-height:100vh;

display:flex;
flex-direction:column;
align-items:center;
}


/* HEADER */

.header{

width:100%;

padding:15px;

text-align:center;

background:rgba(0,0,0,0.4);

backdrop-filter:blur(10px);

position:sticky;
top:0;

animation:fadeDown 0.4s;

}

.header h2{
margin:0;
font-size:18px;
}

.header p{
margin:0;
color:#38bdf8;
font-size:13px;
}


#logoutBtn{

position:absolute;
right:10px;
top:10px;

background:#ef4444;
border:none;

padding:6px 10px;

border-radius:8px;

color:white;

}


/* CARD */

.card{

margin-top:40px;

width:90%;
max-width:350px;

background:rgba(30,41,59,0.6);

backdrop-filter:blur(15px);

border-radius:20px;

padding:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.5);

animation:fadeUp 0.5s;

}


/* TEXT */

#empName{
font-size:14px;
margin-bottom:5px;
}

#gpsStatus{
color:#38bdf8;
margin-bottom:15px;
}


/* INPUT */

.inputBox{
margin:10px 0;
text-align:left;
}

.inputBox label{
font-size:13px;
display:block;
margin-bottom:5px;
}

input[type=file]{

width:100%;

background:#020617;

color:white;

border:1px solid #334155;

padding:6px;

border-radius:8px;

}


/* BUTTON */

.btn{

width:100%;

margin-top:15px;

padding:12px;

font-size:16px;

background:#22c55e;

border:none;

border-radius:12px;

color:white;

transition:0.3s;

}

.btn:active{
transform:scale(0.96);
}

.btn:hover{
background:#16a34a;
}


/* MESSAGE */

#msg{
margin-top:10px;
font-size:14px;
color:yellow;
}


/* POPUP */

.popup{

position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%);

background:#020617;

padding:20px;

border-radius:15px;

display:none;

box-shadow:0 0 30px red;

animation:fadeUp 0.3s;

}

.popup.show{
display:block;
}


/* ANIMATION */

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@keyframes fadeDown{

from{
opacity:0;
transform:translateY(-20px);
}

to{
opacity:1;
transform:translateY(0);
}

}
